@import url(http://fonts.googleapis.com/css?family=Dosis:700);

#oneday-chart {
  font-family: "Dosis", "Siyuan-regular", Arial, sans-serif;
  /* background: #ecf0f1; */
  padding-top: 0px;
  text-shadow: white 1px 1px 1px;
  display: center;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  flex-direction: inherit;
}

#value-box {
  /* background-color: pink; */
  width: 100%;
  height: 20%;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.value {
  border-bottom: 4px dashed #bdc3c7;
  text-align: center;
  font-weight: bold;
  font-size: 4em;
  width: 450px;
  height: 70%;
  line-height: 150px;
  letter-spacing: -0.07em;
  text-shadow: #c37373 2px 2px 2px;
  color: #ecf0f1;
}

input[type="range"] {
  display: none;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 450px;
  height: 7.5px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
  writing-mode: bt-lr;
  /* 设置滑杆为从上到下 */
  transform: rotate(90deg);
  position: relative;
  left: 75%;
  top: 0;
}

#bingbing {
  display: block;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #c37373;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: white;
  border: 2px solid #c37373;
}

input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.3);
}

#map {
  width: 1200px;
  height: 600px;
  /* border: 1px solid #000; */
  /* background-color: darkslateblue; */
  position: relative;
  bottom: 0;
  right: 15%;
}

.button {
  font-family: "Siyuan-regular";
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
  right: 15%;
  /* background-color: pink; */
}

.button button {
  margin-bottom: 10px;
  width: 160px;
  height: 40px;
  font-size: 1em;
  border-radius: 8px;
}

.button-pressed,
.button button:hover {
  background-color: #c37373;
  box-shadow: 0 0.3px 0.7px rgba(255, 255, 255, 0.126), 0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 3.5px rgba(0, 0, 0, 0.224), 0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px rgba(0, 0, 0, 0.4);
  color: #ecf0f1;
  transform: scale(1.1);
}

svg {
  width: 100%;
}
